# macOS
.DS_Store

# Xcode user data (local)
xcuserdata/

# Build
DerivedData/
build/

# Xcode project (versionar só o essencial)
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/

# Workspace (gerado automaticamente)
*.xcworkspace

# SwiftPM (caso apareça acidentalmente)
.build/
Package.resolved

# Artefatos
*.ipa
*.dSYM
*.dSYM.zip